@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* Navigation Menu CSS */
nav {
    padding-top: 20px;
    position: fixed;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.4s ease;
    z-index: 100;
}

nav.sticky {
    padding: 13px 0;
    background: #4070F4;
}

nav .navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo a {
    font-size: 40px;
    font-weight: 500;
    color: #4070F4;
}

nav.sticky .navbar .logo a{
    color: #fff;
}

nav .navbar .menu {
    display: flex;
}

nav .navbar .menu li {
    margin: 0 8px;
    list-style: none;
}
.navbar .menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover {
    color: #4070F4;
}

nav.sticky .navbar .menu li a {
    color: #fff;
}

nav.sticky .navbar .menu li a:hover {
    color: #0E2431;
}

.navbar .media-icons a {
    font-size: 22px;
    margin: 0 6px;
    color: #4070f4;
}

nav.sticky .navbar .media-icons a {
    color: #fff;
}


/* Side Navigation Menu Button CSS */
nav .menu-button,
.navbar .menu-cancel-button {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 30px;
    top: 20px;
    /* bottom: 300px; */
    display: none;
}

nav .menu-button {
    color: #4070f4;
}

@media (max-width: 768px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.3s ease;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #FFF;
    }

    .navbar .media-icons a {
        display: none;
    }

    nav .menu-button,
    .navbar .menu-cancel-button {
        display: block;
    }
}





/* Home section CSS */
.home {
    height: 100vh;
    width: 100%;
    background: url("My\ Post.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    /* box-sizing: border-box; */
}

.home .home-content {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .details .details-one {
    font-size: 25px;
}
.home .details .details-two {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .details .details-three {
    font-size: 40px;
}


.home .cv-button {
    margin: 14px 0;
}
.home .cv-button button {
    outline: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.home .cv-button button:hover {
    color: #4070f4;
    background-color: #fff;
    border-color: #4070f4;
} 



/* Responsive media query CSS */
@media (max-width: 1024px) {
    .home .details .details-two {
        font-size: 65px;
        font-weight: 500;
        margin-left: -3px;
    }
    .home .details .details-three {
        font-size: 30px;
    }
}



/* About Section CSS */

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10% 5% 15%;
}

.about__heading {
    font-size: 2rem;
    color: #0E2431;
    font-family: "Poppins";
    font-weight: 600;
    margin: 50px 80px 40px 0;
}


hr {
    background-color: #4070f4;
    margin: 3px auto;
    height: 4px;
}

.hr1 {
    width: 90%;
}
.hr2 {
    width: 70%;
}

.about__main {
    display: flex;
    margin: 20px 0 0 0;
}

.about__main > img {
    height: 300px;
    width: 300px;
    border: 2px solid #4070F4;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about__desc {
    width: 100;
    text-align: justify;
    margin: 20px 10%;
    font-size: 1.2rem;
    font-family: "Poppins";
}

@media (max-width: 1024px) {
    .about__heading {
        font-size: 1.8rem;
    }
    .about__main > img {
        height: 200px;
        width: 200px;
    }

    .about__desc {
        margin: 0px 10%;
        font-size: 0.95rem;
    }
}




/* Skills CSS */

.skills {
    background-color: #F0F8FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__heading {
    font-size: 2rem;
    color: #0E2431;
    font-family: "Poppins";
    font-weight: 600;
    margin: 70px 0;
}

.skills__upperCard, 
.skills__lowerCard {
    display: flex;
}
.skills__card {
    margin-bottom: 70px;
}

.card {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #0036ca;
    margin: 30px 40px;
    padding: 10px 30px;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
    font-size: 1.7rem;
    box-shadow: #4070f4 0px 13px 27px -5px, #4070f4  0px 8px 16px -8px;
    background-color: #4070f4;
    color: white;
    transition: all 0.3s ease-in;
}

.topic {
    font-weight: 600;
}

.num{
    font-weight: 400;
}


@media (max-width: 1024px) {
    .card {
        font-size: 1.25rem;
        margin: 20px 30px;
        padding: 10px 30px;
        width: 150px;
        height: 100px;
    }
}

/* Contact section CSS */
.contact {
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F8FF;
}

.contact__heading {
    font-size: 2rem;
    color: #0E2431;
    font-family: "Poppins";
    font-weight: 600;
    margin: 70px 0 40px 0;
}

.contact__descDetails {
    text-align: center;
    color: #0E2431;
    font-size: 1.2rem;
}

.contact__descDetails > p {
    margin: 5px 0;
}

.contact__media-icons {
    margin: 10px 0;
    font-size: 2rem;
}

.contact__media-icons > a {
    color: #4070f4;
    margin: 10px;
}

.end {
    background-color: #4070f4;
    margin: 0;
    width: 100%;
    height: 35px;
}

/* Education CSS */

.education {
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 130vh;
}
.education__heading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #0E2431;
    font-family: "Poppins";
    font-weight: 600;
    margin: 70px 0 40px 0;
}

.education__heading > .hr1 {
    width: 10%;
}

.education__heading > .hr2 {
    width: 8%;
}

.education__details {
    position: relative;
}

.verticalRuler {
    position: absolute;
    background: #4070f4;
    width: 10px;
    height: 340px;
    margin: 0 49%;
    border-radius: 20px;
    z-index: -1;
}


.education__intern {
    margin: 20px 49% 50px 49%;
}
.circle {
    margin: 20px -10px;
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgb(109, 109, 109);
    border-radius: 50%;
    z-index: 1;
}

.internDetails {
    margin: -20px 75px;
    height: 250px;
    width: 450px;
    background: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.edu__place {
    font-size: 1.5rem;
    font-weight: 500;
}

.edu__pos {
    font-size: 1.3rem;
    font-weight: 300;
}

.edu__work {
    padding-top: 25px;
}

.education__university {
    margin: 50px 50% 50px 10%;
}

.education__university > .circle{
    margin: 0px 0% 50px 38.3%;
}

.universityDetails {
    height: 300px;
    width: 450px;
    background: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-right: 20px;
}
.tile {
    transition: all 1s ease;
}

.tile:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 1s ease;
}

@media (max-width: 1024px) {

    .verticalRuler {
        width: 6px;
        height: 310px;
    }

    .circle {
        height: 20px;
        width: 20px;
    }

    .education__intern > .circle {
        margin: 20px -7px;
    }

    .education__university > .circle {
        /* margin: 20px -7px; */
        margin: 20px 0% 50px 38.3%;
    }
    .tile {
        height: 220px;
        width: 350px;
    }

    .universityDetails {
        height: 300px;
        width: 380px;
        margin-left: -50px;
    }

    .education {
        height: 110vh;
    }

}










